.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 0;
}

.header-logo span {
  color: #4d5ae5;
}

.header-nav-list {
  display: none;
  column-gap: 40px;
}

.header-nav-link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;
}

.current.header-nav-link {
  color: #404bbf;
}

.current.header-nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.header-contacts-list {
  display: flex;
}

.header-contacts {
  display: none;
  font-style: normal;
}

.header-contacts-list a {
  display: inline-block;
  font-size: 12px;
  color: #434455;
  letter-spacing: 0.04em;
  line-height: 1.17;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-list a:hover,
.header-contacts-list a:focus {
  color: #404bbf;
}

.header-btn-burger {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-burger-svg {
  color: #2e2f42;
}

@media (min-width: 768px) {
  .header-wrapper {
    justify-content: start;
  }
  .header-nav-list {
    display: flex;
    margin-left: 120px;
  }
  .header-contacts {
    display: block;
    margin-left: auto;
  }
  .header-contacts-list {
    flex-direction: column;
    row-gap: 12px;
  }
  .header-btn-burger {
    display: none;
  }
}

@media (min-width: 1158px) {
  .header-contacts-list {
    flex-direction: row;
    column-gap: 40px;
  }
  .header-nav-list {
    display: flex;
    margin-left: 76px;
  }
  .header-contacts-list a {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
  }
}
