.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image:
    linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    image-set(
      url('../images/hero-bg320@1x.jpg') 1x,
      url('../images/hero-bg320@2x.jpg') 2x
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media (max-width: 768px) {
  .hero {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      image-set(
        url('../images/hero-bg768@1x.jpg') 1x,
        url('../images/hero-bg768@2x.jpg') 2x
      );
  }
}

@media (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      image-set(
        url('../images/hero-bg1440@1x.jpg') 1x,
        url('../images/hero-bg1440@2x.jpg') 2x
      );
  }
  .hero-title {
    width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
    line-height: 1.07;
  }
}

@media (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}
